<form method="post">
  <div class="mb-2"><br>
  <label> A-	Département concerné </label>
  <input type="text" name="Dep_Concern" placeholder=""></br>
  </div>
  <div class="mb-2">
  <label> B-	Responsable </label>
  <input type="text" name="Responsable" placeholder="">
  </div>
  <div class="mb-2">
    <label> C-	Contexte du besoin </label>
  <input type="text" name="Contexte_Besoin" placeholder=""> 
  </div>
  <div class="mb-2">
    <label> D-	Définition du besoin </label>
  <input type="text" name="	Définition_Besoin" placeholder="">
  </div>
  <div class="mb-2">
    <label> E-Estimation </label>
  <input type="text" name="E-	Estimation" placeholder="">
  </div>
  <div class="mb-2">
    <label> Signature du demandeur de besoin </label>
  <input type="text" name="Signature_Demandeur_besoin" placeholder="">
  </div>
  <input type="submit" name="submit">
</form>
 